.main-nav {
  background-color: #1d1d35;
  width: 90%;
  margin: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #dde5db;
  font-family: "Roboto Mono";
  font-size: 0.8rem;
  margin: 1rem;
}

.link:hover {
  color: #17b07f;
  transition: 0.5s;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 675px) {
  .main-nav {
    width: 100%;
  }
  .nav-links.active {
    transform: translateX(0%) !important;
  }
  .nav-links {
    background-color: #1d1d35;
    box-shadow: 2px 5px 4px rgb(0, 0, 0);
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -web-fill-available;
    transform: translateX(-100%);
    transition: 1s ease all;
  }

  .menu-icon.active {
    color: #17b07f;
  }

  .menu-icon {
    display: flex !important;
    font-size: 2rem;
  }
  .icon {
    color: #17b07f;
  }
}

/* ANIMATION FRO NAV */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .nav-links {
    animation: slideInFromLeft 0.5s ease-in-out forwards;
  }
}
