body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  display: block;
  height: 1px;
  width: 50%;
  border: 0;
  border-top: 2px solid #2f4858;
  margin: auto;
  padding: 0;
}

/* Animation */
@keyframes caida {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.caida {
  animation-name: caida;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.translate {
  font-family: "Roboto Mono";
  font-size: 0.5rem;
  width: 50px;
  height: 10px;
  border-radius: 0.5rem;
  border: #17b07f solid 0.5px;
  background: transparent;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: #17b07f;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  transition: 0.5s;
}
.translate:hover{
  transform: scale(1.1);
  transition: 0.5s;
  color: #dde5db;
  border: #dde5db solid 0.5px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,700&display=swap");
